<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">	
	<servlet>
		<servlet-name>Users</servlet-name>
		<servlet-class>info.nizheg.game.UserManagementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tasks</servlet-name>
		<servlet-class>info.nizheg.game.TaskManagementServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>Game</servlet-name>
		<servlet-class>info.nizheg.game.GameServlet</servlet-class>
	</servlet>		
	<!--servlet>
		<servlet-name>Words</servlet-name>
		<servlet-class>info.nizheg.game.WordServlet</servlet-class>
	</servlet-->
	
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tasks</servlet-name>
		<url-pattern>/tasks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Game</servlet-name>
		<url-pattern>/game</url-pattern>
	</servlet-mapping>
	<!--servlet-mapping>
		<servlet-name>Words</servlet-name>
		<url-pattern>/words</url-pattern>
	</servlet-mapping-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
      <web-resource-collection>
        <url-pattern>/tasks</url-pattern>
        <url-pattern>/users</url-pattern>
        <url-pattern>/users/*</url-pattern>
        <url-pattern>/dictionary</url-pattern>
        <url-pattern>/dictionary/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>admin</role-name>
      </auth-constraint>
    </security-constraint>	
</web-app>
